.graph-container {
    border-radius: apply(radius-m);
    background-color: var(--surface_container);
}

.graph {
    min-width: 308px;
    color: var(--secondary);
}

.graph.overlayed {
    color: var(--tertiary);
}

.graph-label {
    font-size: 11px;
}

.graph-label.secondary {
    color: var(--on_surface_variant);
    margin-top: 2px;
}

.graph-box {
    min-width: 308px;
    min-height: 112px;
    padding: 8px;
}

.graph-dot {
    padding: 3px;
    background-color: var(--secondary);
    border-radius: 10px;
}

.graph-dot.overlayed {
    background-color: var(--tertiary);
}
