.lockscreen-entry-box {
    min-width: 298px;
    min-height: 16px;
    background-color: var(--surface_container);
    border-radius: apply(radius-m);
    box-shadow: inset 0 0 0 1px var(--primary);
    padding: 10px;
}

.lockscreen-clock {
    background-color: var(--background);
    border-radius: 150px;
    padding: 18px;
}

.lockscreen-clock-label {
    font-family: apply(mixed-mono);
    font-size: 32px;
    font-weight: 600;
}

.lockscreen-submit-button {
    background-color: var(--primary);
    padding: 10px 12px;
    border-radius: apply(radius-m);
}

.lockscreen-submit-button * {
    color: var(--on_primary);
}

.lockscreen-bg {
    background-position: center;
    background-size: cover;
}
