.qs-button {
    min-width: 136px;
    min-height: 24px;
    background-color: var(--surface_container);
    border-radius: apply(radius-m);
    padding: 6px 10px;
    transition: 0.3s ease;
}

.qs-button.hover {
    background-color: var(--surface_container_high);
    transition: 0.3s ease;
}

.qs-button label {
    font-size: 14px;
}

.qs-button.active {
    background-color: var(--primary);
    transition: 0.3s ease;
}

.qs-button.focus {
    box-shadow: inset 0 0 0 1px var(--outline);
    transition: 0.3s ease;
}

.qs-button.active * {
    color: var(--on_primary);
    transition: 0.3s ease;
}

.qs-button.active.focus {
    box-shadow: inset 0 0 0 1px var(--outline);
    transition: 0.3s ease;
}

.qs-button.active.hover {
    background-color: mix(var(--primary), var(--on_primary_container), 0.2);
    transition: 0.3s ease;
}

.qs-button-chevron {
    background-color: var(--surface_container);
    border-radius: 0 apply(radius-m) apply(radius-m) 0;
    padding: 10px;
    transition: 0.3s ease;
}

.qs-button-chevron:hover {
    background-color: var(--surface_container_high);
    transition: 0.3s ease;
}

.qs-button-chevron:focus {
    box-shadow: inset 0 0 0 1px var(--outline);
    transition: 0.3s ease;
}

.qs-button-chevron.active {
    background-color: var(--primary);
    transition: 0.3s ease;
}

.qs-button-chevron.active:hover {
    background-color: shade(var(--primary), 1.05);
    transition: 0.3s ease;
}

.qs-button-chevron.active * {
    color: var(--on_primary);
    transition: 0.3s ease;
}

.qs-button-label {
    border-radius: apply(radius-m) 0 0 apply(radius-m);
    min-width: 99px;
    min-height: 14px;
    background-color: var(--surface_container);
    padding: 6px 10px;
    transition: 0.3s ease;
}

.qs-button-label:hover {
    background-color: var(--surface_container_high);
    transition: 0.3s ease;
}

.qs-button-label:focus {
    box-shadow: inset 0 0 0 1px var(--outline);
    transition: 0.3s ease;
}

.qs-button-label.active {
    background-color: var(--primary);
    transition: 0.3s ease;
}

.qs-button-label.active:hover {
    background-color: shade(var(--primary), 1.05);
    transition: 0.3s ease;
}

.qs-button-label.active {
    background-color: var(--primary);
    transition: 0.3s ease;
}

.qs-button-label.active * {
    color: var(--on_primary);
    transition: 0.3s ease;
}

.qs-description-label {
    border-color: var(--background);
    padding-left: 4px;
    font-size: 14px;
    opacity: 0.6;
}

.audio-device-label-container {
    min-height: 24px;
    padding: 0px 4px;
}

.qs-button-small {
    background-color: var(--surface_container);
    padding: 10px 28px;
    border-radius: apply(radius-m);
    transition: 0.3s ease;
}

.qs-button-small.hover {
    background-color: var(--surface_container_high);
    transition: 0.3s ease;
}

.qs-button-small.active {
    background-color: var(--primary);
    transition: 0.3s ease;
}

.qs-button-small.active * {
    color: var(--on_primary);
    transition: 0.3s ease;
}

.qs-button-small.active.hover {
    background-color: mix(var(--primary), var(--on_primary_container), 0.2);
    transition: 0.3s ease;
}

.qs-button-small.focus {
    box-shadow: inset 0 0 0 1px var(--outline);
    transition: 0.3s ease;
}

.qs-power-modes-box {
    background-color: var(--surface_container);
    padding: 6px;
    border-radius: apply(radius-m);
    min-width: 144px;
    min-height: 24px;
}

.qs-power-profile-button {
    padding: 4px 14px;
    border-radius: apply(radius-s);
    transition: 0.3s ease;
}

.qs-power-profile-button.wide {
    padding: 4px 42px;
}

.qs-power-profile-button.hover {
    background-color: var(--surface_container_high);
    transition: 0.3s ease;
}

.qs-power-profile-button.active {
    background-color: var(--primary);
    transition: 0.3s ease;
}

.qs-power-profile-button.active * {
    color: var(--on_primary);
    transition: 0.3s ease;
}

.qs-power-profile-button.focus {
    box-shadow: inset 0 0 0 1px var(--outline);
    transition: 0.3s ease;
}

.qs-power-profile-button.active.hover {
    background-color: mix(var(--primary), var(--on_primary_container), 0.2);
    transition: 0.3s ease;
}

.qs-device-switcher {
    min-height: 36px;
    min-width: 324px;
    border-radius: apply(radius-m);
    background-color: var(--surface_container);
    transition: 0.3s ease;
}

.qs-device-switcher-button {
    border-radius: apply(radius-m);
    transition: 0.3s ease;
}

.qs-device-switcher-button:hover {
    background-color: var(--surface_container_high);
    transition: 0.3s ease;
}

.qs-device-switcher-button:focus {
    box-shadow: inset 0 0 0 1px var(--outline);
    transition: 0.3s ease;
}

.qs-device-switcher-button.active {
    background-color: var(--surface_container_highest);
    transition: 0.3s ease;
}

.qs-device-switcher-button.active:hover {
    background-color: var(--surface_container_highest);
    transition: 0.3s ease;
}

.qs-device-switcher-button.active:focus {
    box-shadow: inset 0 0 0 1px var(--outline);
    transition: 0.3s ease;
}

.qs-menu-disconnect-button {
    background-color: var(--surface_container_high);
    min-width: 78px;
    min-height: 24px;
    border-radius: apply(radius-m);
}

.qs-menu-disconnect-button label {
    font-size: 11px;
}

.qs-checkmark-active {
    color: var(--primary);
    transition: color 0.3s ease;
}

.qs-checkmark-active * {
    color: var(--primary);
    transition: color 0.3s ease;
}

.qs-kb-menu-button {
    min-width: 324px;
    min-height: 88px;
    background-color: var(--surface_container);
    border-radius: apply(radius-m);
    transition: all 0.3s ease;
}

.qs-kb-menu-button:hover {
    background-color: var(--surface_container_high);
    transition: 0.3s ease;
}

.qs-kb-menu-button:active {
    background-color: var(--surface_container);
    transition: 0.3s ease;
}

.qs-kb-menu-button:focus {
    background-color: var(--surface_container_high);
    transition: 0.3s ease;
}

.qs-power-menu-button {
    min-width: 159px;
    min-height: 88px;
    /* margin: 0px; */
    background-color: var(--surface_container);
    border-radius: apply(radius-m);
    transition: 0.3s ease;
}

.qs-power-menu-button:hover {
    background-color: var(--surface_container_high);
    transition: 0.3s ease;
}

.qs-power-menu-button:focus {
    box-shadow: inset 0 0 0 1px var(--outline);
    transition: 0.3s ease;
}
