.weather-main {
    background-color: var(--surface_container);
    padding: 18px;
    border-radius: apply(radius-m);
}

.current-temp {
    font-family: apply(mixed-mono);
    font-size: 24px;
    font-weight: 600;
}

.hourly-item {
    margin-right: 18px;
}

.hourly-item:last-child {
    margin-right: 0px;
}

.hourly-time {
    font-size: 11px;
    color: var(--on_surface_variant);
    min-width: 24px;
}

.hourly-temp {
    font-size: 14px;
}

.temp-bar-range {
    background-color: var(--primary);
    min-height: 6px;
    border-radius: 8px;
}

.temp-bar {
    min-height: 6px;
    border-radius: 8px;
    background-color: alpha(var(--primary), 0.2);
}

.daily-forecast {
    padding-bottom: 4px;
}

.daily-day {
    font-weight: Bold;
    color: var(--on_surface_variant);
    min-width: 24px;
    padding-left: 6px;
}

.daily-min-temp,
.daily-max-temp {
    font-size: 11px;
    color: var(--on_surface_variant);
    min-width: 24px;
}

.daily-min-temp {
    padding-left: 6px;
}

.daily-max-temp {
    padding-right: 6px;
}

.temp-bar {
    background-color: alpha(var(--primary), 0.2);
    color: var(--primary);
    border-radius: apply(radius-m);
}

.high-temp,
.low-temp {
    font-size: 11px;
}
