.lockscreen-entry-box {
  min-width: 298px;
  min-height: 16px;
  background-color: var(--background);
  border-radius: apply(radius-m);
  border: 1px solid var(--primary);
  padding: 10px;
}

.lockscreen-clock {
  background-color: var(--background);
  border-radius: 150px;
  padding: 18px;
}

.lockscreen-submit-button {
  background-color: var(--primary);
  padding: 10px 12px;
  border-radius: apply(radius-m)
}

.lockscreen-submit-button * {
  color: var(--background);
}

.lockscreen-bg {
    background-position: center;
    background-size: cover;
}
